@import url(./blocks/root.css);
@import url(./blocks/main.css);
@import url(./blocks/button.css);
@import url(./blocks/link.css);
@import url(./blocks/select.css);
@import url(./blocks/header.css);
@import url(./blocks/search-form.css);

.carousel-indicators {
  bottom: 5px;
}

.carousel-control-prev {
  left: -48px;
  top: 21px;
}

.carousel-control-next {
  right: -48px;
  top: 21px;
}

.carousel-control-prev-icon {
  border: 1px solid var(--gray-00);
  border-radius: 50%;
  background-image: none;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-left: -95px;*/
}

.carousel-control-next-icon {
  border: 1px solid var(--gray-00);
  border-radius: 50%;
  background-image: none;
  transform: rotate(180deg);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin-right: -95px;*/
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}

.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border: 1px solid var(--gray-00);
  border-radius: 50%;
}

.carousel-indicators [data-bs-target]:hover {
  background-color: var(--gray-00);
}

.carousel-indicators [data-bs-target].active {
  background-color: var(--gray-00);
}

.slider__line {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
}

.slider__title {
  position: absolute;
  top: 31%;
  margin: 0 0 0 6.4vw;
  font-family: 'Prata', serif;
  font-size: 20px;
}

.slider__text {
  position: absolute;
  top: 38.5%;
  padding: 0 0 0 6.5vw;
  font-family: 'Prata', serif;
  font-size: 50px;
  text-transform: uppercase;
}

.slider__button {
  position: absolute;
  top: 59%;
  margin: 0 0 0 6.4vw;
  background: var(--gray-00);
  color: var(--white);
  padding: 17px 57px;
  text-transform: uppercase;
}

/*.slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}







.slider__button-arrow {
  content: '';
  position: absolute;
  width: 55px;
  height: 55px;
  top: 47%;
  border: 1px solid var(--gray-00);
  border-radius: 50%;
}



.slider__button-prev {
  left: 1.7%;
}

.slider__button-next {
  right: 1.7%;
}

.slider__wrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 4%;
  left: 50.2%;
  transform: translateX(-50%);
}



.slider__button-next img,
.slider__button-prev img {
  width: 50px;
}*/

@media (max-width: 850px) {
  .slider__button-next img,
  .slider__button-prev img {
    width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));

    /* 50 - макс. ширина, которая нам нужна;
      20, 20px - мин. ширина, которая нам нужна;
      100vw - полная ширина экрана;
      320, 320px - мин. разрешение до которого будет уменьш. наше свойство;
      850 - разрешение экрана, с которого начинает ужиматься наш slider; */
  }

  .slider__dot {
    width: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
    height: calc(10px + (16 - 10) * ((100vw - 320px) / (850 - 320)));
  }

  .slider__wrapper {
    gap: calc(5px + (10 - 5) * ((100vw - 320px) / (850 - 320)));
  }
}

.title {
  font-family: 'Prata', serif;
  font-weight: var(--fw-regular);
  font-size: 40px;
  padding: 0;
  margin: 0;
  /*padding: 118px 0 0 0;*/
}

.category__title {
  padding: 118px 0 0 0;
}

.category__wrapper {
  /*display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;*/
  display: flex;
  justify-content: space-between;
  padding: 36px 0 0 0;
}

.category__item {
  width: 200px;
  height: 259px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--gray-12);
  position: relative;
}

.category__item-text {
  font-size: 16px;
  width: 170px;
  height: 5%;
  display: flex;
  text-align: center;
  position: absolute;
  bottom: 26px;
  align-items: center;
  justify-content: center;
  line-height: 16px;
}

.category__item-image {
  /*width: 170px;
  height: 170px;*/
  object-fit: none;
  padding: 0 0 40px 0;
}

.sale__title {
  padding: 118px 0 18px 0;
}

.sale__items-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  position: relative;
}

.sale__items-arrows {
  position: absolute;
  width: 116px;
  display: flex;
  justify-content: space-between;
  right: -2px;
  top: -55px;
  cursor: pointer;
}

.sale__item {
  border: 1px solid var(--gray-10);
  width: 310px;
  height: 370px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
}

.sale__item-discount {
  position: absolute;
  left: 21px;
  top: 15px;
  background: var(--green);
  width: 50px;
  height: 21px;
  color: var(--white);
  border-radius: 50px;
  font-size: 13px;
  text-align: center;
}

.sale__item-image {
  object-fit: none;
  width: 200px;
  height: 200px;
  margin: 40px 55px 0;
}

.sale__item-carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 32.5%;
  /* width: 116px; */
  left: -4px;
  gap: 2px;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.sale__description {
  margin: 0 22px 26px;
  position: absolute;
  bottom: 0;
}

.sale__price {
  font-size: 18px;
}

.sale__price_past::after {
  content: '65 000 ₽';
  text-decoration: line-through;
  font-size: 14px;
  color: var(--gray-15);
  margin-left: 10px;
}

.sale__price-discount {
  position: absolute;
  right: 3px;
  background: var(--red-00);
  width: 50px;
  height: 21px;
  color: var(--white);
  border-radius: 50px;
  font-size: 13px;
  text-align: center;
  margin: 0 0 13px 17px;
}

.sale__text {
  margin: 11px 0 0;
  padding: 0;
}

.sale__tabs {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.sale__tab-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*width: 467px;*/
}

.sale__tab-item {
  display: inline-block;
}

.sale__tab {
  text-decoration: none;
  padding: 10px 29px;
  margin: 0 6px 0 0;
  /* display: block; */
  background-color: var(--gray-10);
  color: var(--gray-00);
  border-radius: 50px;
  font-size: 14px;
  /* height: 40px; */
  /* width: 110px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale__tab_active {
  background-color: var(--gray-00);
  color: var(--white);
}

.banners {
  padding: 118px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.product-card__title {
  padding: 118px 0 35px 0;
}

.product-card__wrapper {
  display: flex;
  gap: 5.1vw;
  position: relative;
}

.product-card__arrows {
  position: absolute;
  width: 116px;
  display: flex;
  justify-content: space-between;
  right: -2px;
  top: -86px;
  cursor: pointer;
}

.product-card__image-container {
  width: 550px;
  height: 550px;
  position: relative;
}

.product-card__carousel-control-next {
  right: 0;
  top: 0;
}

.product-card__carousel-control-prev {
  left: 0;
  top: 0;
}

.product-card__carousel-control-next-icon {
  background-image: url(./assets/product-card_arrow-r.svg);
  width: 10px;
  margin-right: -40px;
  border: none;
  transform: rotate(0deg);
}

.product-card__carousel-control-prev-icon {
  background-image: url(./assets/product-card_arrow-r.svg);
  width: 10px;
  transform: rotate(180deg);
  margin-left: -47px;
  border: none;
}

.product-card__badges {
  position: absolute;
  top: 17px;
  left: 14px;
  width: 158px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.product-card__badge {
  border-radius: 50px;
  color: white;
  display: flex;
  width: 50px;
  height: 21px;
  justify-content: center;
}

.product-card__badge_new {
  background: var(--gray-02);
}

.product-card__badge_hit {
  background: var(--yellow);
}

.product-card__badge_sale {
  background: var(--green);
}

.product-card__info {
  padding-right: 4vw;
}

.product-card__rating {
  display: flex;
  position: relative;
}

.product-card__rating_star {
  display: flex;
  justify-content: space-between;
  width: 109px;
}

.product-card__rating-number {
  position: absolute;
  left: 118px;
}

.product-card__name {
  font-family: 'Prata', serif;
  font-size: 32px;
  margin: 23px 0 11px;
}

.product-card__price-wrapper {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: flex-end;
}

.product-card__price {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-semibold);
  padding-bottom: 5px;
}

.product-card__price::after {
  content: '22 000 ₽';
  font-size: 16px;
  text-decoration: line-through;
  font-weight: var(--fw-regular);
  color: var(--gray-15);
  padding-left: 11px;
}

.product-card__price-discount {
  background: var(--red-00);
  width: 50px;
  height: 21px;
  color: var(--white);
  border-radius: 50px;
  font-size: 13px;
  text-align: center;
  margin: 0 0 13px 17px;
}

.product-card__timer-container {
  width: 224px;
  height: 64px;
  background: var(--gray-11);
  margin-left: 36px;
}

.product-card__timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 14px;
}

.product-card__timer_box {
  background: var(--white);
  border: 1px solid var(--gray-16);
  width: 52px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__timer_box-number {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-bold);
}

.product-card__timer_box-text {
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  font-weight: var(--fw-light);
}

.product-card__choice-color-container {
  border-top: 1px solid var(--gray-10);
  margin-top: 18px;
}

.product-card__choice-title {
  margin: 28px 0 0 0;
  text-transform: uppercase;
  font-size: 12px;
}

.product-card__choice-color-tabs {
  display: flex;
  width: 152px;
  height: 32px;
  justify-content: space-between;
  margin-top: 13px;
}

.product-card__choice-color-tab {
  width: 32px;
  height: 32px;
  border: 1px solid var(--gray-07);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card__choice-color-tab_gray::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: var(--gray-05);
}

.product-card__choice-color-tab_yellow::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: var(--yellow-01);
}

.product-card__choice-color-tab_orange::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: var(--orange);
}

.product-card__choice-color-tab_pistachio::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: var(--pistachio);
}

.product-card__choice-color-tab_active {
  border: 1px solid var(--gray-00);
}

.product-card__choice-size-title {
  display: flex;
  align-items: center;
}

.product-card__choice-size-tooltip {
  background: var(--gray-10);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 2px 10px 0;
  cursor: pointer;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--white);
  --bs-tooltip-color: var(--gray-00);
  --bs-tooltip-opacity: 1;
  --bs-tooltip-border-radius: none;
  -webkit-box-shadow: 0px 5px 22px 0px rgba(34, 60, 80, 0.35);
  -moz-box-shadow: 0px 5px 22px 0px rgba(34, 60, 80, 0.35);
  box-shadow: 0px 5px 22px 0px rgba(34, 60, 80, 0.35);
}

.product-card__choice-size-tabs {
  display: flex;
  justify-content: space-between;
  width: 572px;
  margin-top: 14px;
}

.product-card__choice-size-tab {
  background: var(--white);
  border: 1px solid var(--gray-07);
  width: 50px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-card__choice-size-tab:hover {
  border: 1px solid var(--gray-00);
}

.product-card__choice-size-tab_active {
  background: var(--gray-00);
  color: var(--white);
  border: 1px solid var(--gray-00);
}

.product-card__choice-size-tab_disabled {
  color: var(--gray-07);
}

.product-card__buttons {
  display: flex;
  margin-top: 40px;
}

.product-card__buys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
}

.product-card__buy {
  border: 1px solid var(--gray-00);
  width: 400px;
  height: 56px;
  text-transform: uppercase;
}

.product-card__buy-add {
  background: var(--gray-00);
  color: var(--white);
}

/*.product-card__buy-oneclick {

}*/

.product-card__buy-add:focus {
  background: var(--black);
}

.product-card__buy-oneclick:focus {
  background: var(--black);
  color: var(--white);
}

.product-card__buy-add:hover {
  background: var(--gray-01);
}

.product-card__buy-oneclick:hover {
  background: var(--gray-00);
  color: var(--white);
}

.product-card__misc {
  display: flex;
  flex-direction: column;
  margin: 1px 0 0 67px;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;
}

.product-card__like {
  display: flex;
  position: relative;
  padding-left: 3px;
}

.product-card__compare {
  position: relative;
}
.product-card__share {
  position: relative;
}

.product-card__like::before {
  content: url(./assets/misc_like.svg);
  position: absolute;
  top: 2px;
  left: -26px;
}

.product-card__compare::before {
  content: url(./assets/misc_chart.svg);
  position: absolute;
  top: 2px;
  left: -28px;
}
.product-card__share::before {
  content: url(./assets/share.svg);
  position: absolute;
  top: 2px;
  left: -28px;
}

.articles__title {
  padding: 118px 0 36px 0;
}

.articles__wrapper {
  display: flex;
  justify-content: space-between;
  height: 475px;
  position: relative;
}

.articles__read-more {
  position: absolute;
  top: -60px;
  right: -3px;
  text-transform: uppercase;
  display: flex;
}

/*.articles__read-more_arrow {
padding-left: 5px;
}*/

.articles__read-more::after {
  content: url(./assets/arrow_26.svg);
  margin-left: 13px;
}

.articles__item {
  display: flex;
  flex-direction: column;
}

.articles__image {
  width: 310px;
  height: 381px;
}

.articles__date {
  color: var(--gray-15);
  margin-top: 14px;
}

.articles__item-title {
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  width: 280px;
  margin-top: 8px;
}
