:root {
  --black: #000000;
  --white: #ffffff;
  --red-00: #e24b33;
  --red-01: #e46942;
  --green: #5b8a8f;
  --yellow: #e1a661;
  --orange: #ea8c48;
  --pistachio: #a7e492;
  --gray-00: #303030;
  --gray-01: #505050;
  --gray-02: #495159;
  --gray-03: #979797;
  --gray-04: #c9c9c9;
  --gray-05: #d9d9d9;
  --gray-06: #d3d3d3;
  --gray-07: #dadada;
  --gray-08: #dddddd;
  --gray-09: #e8e7e7;
  --gray-10: #f0f0f0;
  --gray-11: #f5f5f5;
  --gray-12: #f8f8f8;
  --gray-13: #fafafa;
  --gray-14: #a2a2a2;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
}

* {
  box-sizing: border-box;
}
